.App {
  text-align: center;
  margin-top: 1rem;
}

.btn{
  color: white; 
  background-color: green;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-right: 5px;
  font-size: 1rem;
}

.highlight{
  color: red;
}

.quotesWrapper{
  width: 80%;
  margin: 0px auto;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #f7d8a1;
}

.quotesWrapper  .quotesContent{
   color: #3aafd0;
   font-style: italic;
}